<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleAC97CodecAD198x</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0, Copyright Apple Computer, Inc. 2004</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleAC97CodecAD198x</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Analog Devices AD198x AC97 Audio Codec Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AD198x</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAC97CodecAD198x</string>
			<key>IOClass</key>
			<string>AppleAC97CodecAD198x</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOAC97CodecDevice</string>
			<key>PNPVendorID</key>
			<string>ADS78 ADS75 ADS74 ADS73 ADS72</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleAC97Audio</key>
		<string>1.0.0</string>
	</dict>
</dict>
</plist>
