<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PBXProjectSourcePath</key>
	<string>/Users/noah/Desktop/ATIIXP_Sound_Project/ATIAppleAC97Audio-1.0.5_withpowersaving</string>
</dict>
</plist>
